modules = ["go-1.21"]
run = "go run . server --chaos"
entrypoint = "main.go"

[deployment]
build = ["sh", "-c", "go build -o bullpen ."]
run = ["sh", "-c", "./bullpen server --chaos"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 80
